@import "./colors.scss";
:root {
  --nav-light-blue: rgb(76, 145, 195);
  --nav-dark-blue: rgb(41, 97, 144);
}

#menu-icon-container {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid black 1.25px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 30px;
  padding: 2px;
}

.nav-bar {
  width: 47.5px;
  height: 8px;
  margin: 5px;
  background: black;
  transition: 0.4s;
}

.nav-menu {
  background: linear-gradient(var(--nav-light-blue), var(--nav-dark-blue));
  height: 100px;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  padding-left: 20px;
}

.change {
  border: solid rgba(0, 0, 0, 0) 0px;
}

.change.bar1 {
  -webkit-transform: rotate(-40deg) translate(-8px, 8px);
  transform: rotate(-40deg) translate(-8px, 8px);
}

.change.bar2 {
  opacity: 0;
  transform: rotate(180deg);
}

.change.bar3 {
  -webkit-transform: rotate(40deg) translate(-8px, -8px);
  transform: rotate(40deg) translate(-10px, -10px);
}

#header-text {
  display: inline-block;
}
